.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr
out/

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/mysql_data/
/db/data/

.env
docker-compose.override.yaml
docker-compose.yml
docker-compose.yaml

**/src/main/resources/application.properties
**/src/main/resources/application.yaml

*.pem
*.jks
*.key

settings.json

node_modules/
/dist/
.npm/
*.log

/logs/
*.log

.DS_Store
Thumbs.db