<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liveklass.liveklass.mapper.EventMapper">

    <insert id="insertEventLog">

        INSERT INTO event_logs (
            event_type,
            user_id,
            product_id,
            search_keyword,
            page_url,
            error_message,
            created_at
        )
        VALUES (
                   #{eventType},
                   #{userId},
                   #{productId},
                   #{searchKeyword},
                   #{pageUrl},
                   #{errorMessage},
                   DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)
               )

    </insert>

    <insert id="upsertSearchKeywordStatistics">

        INSERT INTO search_keyword_statistics (
            search_keyword,
            statistic_hour,
            event_count
        )
        VALUES (
                   #{searchKeyword},
                   DATE_FORMAT(DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR), '%Y-%m-%d %H:00:00'),
                   1
               )

            ON DUPLICATE KEY UPDATE
                                 event_count = event_count + 1

    </insert>

    <insert id="upsertPageViewStatistics">

        INSERT INTO page_view_statistics (
            page_url,
            statistic_date,
            event_count
        )
        VALUES (
                   #{pageUrl},
                   DATE(DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)),
                   1
               )

            ON DUPLICATE KEY UPDATE
                                 event_count = event_count + 1

    </insert>

</mapper>